[Desktop Entry]
Name=Newton Editor
GenericName=Code IDE
Comment=General purpose IDE
Exec=/bin/newton_editor %F
Icon=/usr/share/newton_editor/icons/newton_editor.png
Type=Application
StartupNotify=true
Categories=System;FileTools;Utility;
MimeType=
Terminal=false
