[Desktop Entry]
Name=Newton Editor
GenericName=Code IDE
Comment=General purpose IDE
Exec=/bin/newton_editor %F
Icon=/usr/share/newton_editor/icons/newton_editor.png
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;TextEditor;Development;
MimeType=text/plain;text/py;text/js;text/java;text/cpp;text/sh;text/html;text/json;
Terminal=false
