#editor {
    background-color: #00000000;
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#status-bar {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 2.8em;
    right: 0.5em;
    bottom: 1em;
    height: 10px;
    color: gray;
}


#ace_settingsmenu, #kbshortcutmenu, controls {
    background-color: #00000000;
    color: #ffffff;
}



/* CLASSES */
.editor-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.ace_status-indicator {
    color: gray;
    position: absolute;
    right: 0;
    border-left: 1px solid;
}

.nav-tabs {
    display: list-item;
    overflow: auto;
    white-space: nowrap;
    padding-bottom: 0.6em;
    border-bottom-color: #00000000;
}


.tab {
    display: inline-block;
    clear: both;
    margin-right: 0.5em;
    padding-left: 1em;
    padding-right: 0.5em;

    cursor: pointer;
}

.active-tab {
    background-color: rgba(255, 255, 255, 0.46);
    color: rgba(255, 255, 255, 0.8);
}

.file-name,
.bi bi-x-square {
    z-index: -1;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.close-button {
    background: rgba(116, 0, 0, 0.64);
}

.close-button:hover {
    background: rgba(256, 0, 0, 0.64);
}




.scroller {
    -webkit-scrollbar-color: #00000084 #ffffff64;
	-webkit-scrollbar-width: thin;

	scrollbar-color: #00000084 #ffffff64;
	scrollbar-width: thin;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.page-alert-zone-container {
    position: sticky;
    top: 0em;
    z-index: 2;
}


.float-right {
    float: right;
    text-align: right;
    font-size: initial;
}

/* Other message text colors */
.errorTxt   { color: rgb(170, 18, 18); }
.warningTxt { color: rgb(255, 168, 0); }
.successTxt { color: rgb(136, 204, 39); }